Comp/Dify/DSL/テスト_File_API.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: テスト_File_API
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1756390781563-source-1765016979495-target
      source: '1756390781563'
      sourceHandle: source
      target: '1765016979495'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1765016979495-source-1765017445668-target
      source: '1765016979495'
      sourceHandle: source
      target: '1765017445668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1765017445668-source-1765017689187-target
      source: '1765017445668'
      sourceHandle: source
      target: '1765017689187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1765017689187-source-1756391420318-target
      source: '1765017689187'
      sourceHandle: source
      target: '1756391420318'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: file
      height: 90
      id: '1756390781563'
      position:
        x: 81
        y: 284
      positionAbsolute:
        x: 81
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1756390781563'
          - file
          variable: file
        - value_selector:
          - '1756391529934'
          - text
          variable: text
        selected: false
        title: 終了
        type: end
      height: 116
      id: '1756391420318'
      position:
        x: 1346.8087741805589
        y: 284
      positionAbsolute:
        x: 1346.8087741805589
        y: 284
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas: []
        params: {}
        provider_id: 6df42d56-304f-43a2-8e2e-8384c20ecff5
        provider_name: File API
        provider_type: api
        selected: false
        title: files_get
        tool_configurations: {}
        tool_description: List files
        tool_label: files_get
        tool_name: files_get
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 54
      id: '1765016979495'
      position:
        x: 358.5
        y: 284
      positionAbsolute:
        x: 358.5
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Identifier (filename) of the file
            ja_JP: Identifier (filename) of the file
            pt_BR: Identifier (filename) of the file
            zh_Hans: Identifier (filename) of the file
          label:
            en_US: fileId
            ja_JP: fileId
            pt_BR: fileId
            zh_Hans: fileId
          llm_description: Identifier (filename) of the file
          max: null
          min: null
          name: fileId
          options: []
          placeholder:
            en_US: Identifier (filename) of the file
            ja_JP: Identifier (filename) of the file
            pt_BR: Identifier (filename) of the file
            zh_Hans: Identifier (filename) of the file
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          fileId: ''
        provider_id: 6df42d56-304f-43a2-8e2e-8384c20ecff5
        provider_name: File API
        provider_type: api
        selected: false
        title: filesfileId_get
        tool_configurations: {}
        tool_description: Download a file
        tool_label: filesfileId_get
        tool_name: filesfileId_get
        tool_node_version: '2'
        tool_parameters:
          fileId:
            type: mixed
            value: /openapi.json
        type: tool
      height: 54
      id: '1765017445668'
      position:
        x: 634.5
        y: 284
      positionAbsolute:
        x: 634.5
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: File to upload
            ja_JP: File to upload
            pt_BR: File to upload
            zh_Hans: File to upload
          label:
            en_US: file
            ja_JP: file
            pt_BR: file
            zh_Hans: file
          llm_description: File to upload
          max: null
          min: null
          name: file
          options: []
          placeholder:
            en_US: File to upload
            ja_JP: File to upload
            pt_BR: File to upload
            zh_Hans: File to upload
          precision: null
          required: true
          scope: null
          template: null
          type: file
        params:
          file: ''
        provider_id: 6df42d56-304f-43a2-8e2e-8384c20ecff5
        provider_name: File API
        provider_type: api
        selected: false
        title: files_post
        tool_configurations: {}
        tool_description: Upload a new file
        tool_label: files_post
        tool_name: files_post
        tool_node_version: '2'
        tool_parameters:
          file:
            type: variable
            value:
            - '1756390781563'
            - file
        type: tool
      height: 54
      id: '1765017689187'
      position:
        x: 984.5
        y: 284
      positionAbsolute:
        x: 984.5
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 124.44756053099002
      y: 161.36413771200637
      zoom: 0.6597539832982272
